@use '@base-styles-mixins/typography' as t;
@use '@base-styles-variables/colors' as c;
@use '@base-styles-mixins/bp';

.content-container {
    margin: 0 90px;

    @include bp.lw(m) {
        margin: 0 15px;
    }
}

.experiences-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 25px;

    @include bp.lw(m) {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.experience-tv-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.experience-title {
    @include t.t2;

    margin-bottom: 2px;
    text-align: center;
}

.experience-tv {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 200px;
    padding: 55px 55px 10px 10px; // Padding configured to provide inner space based on bg image
    background-image: url('./images/tv.svg?url');
    background-repeat: no-repeat;
    aspect-ratio: 484/450;

    @include bp.lw(m) {
        width: 125px;
        padding: 34px 34px 7px 7px;
    }
}

.experience-tv-skill-icon {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px 0 5px;

    @include bp.lw(m) {
        margin: 10px 0 5px;
    }
}

.experience-tv-battery {
    display: flex;
    flex-flow: row nowrap;
    width: 48px;
    padding: 2px;
    background-image: url('./images/battery.svg?url');
    background-repeat: no-repeat;
    aspect-ratio: 276/150;

    @include bp.lw(m) {
        width: 30px;
        padding: 1px;
    }
}

.experience-tv-battery-level {
    width: calc(25% - 3px);
    margin-left: 2px;
    aspect-ratio: 64/150;

    &:last-child {
        animation: battery-charge 1.7s infinite linear;

        @media (prefers-reduced-motion) {
            animation: none;
        }
    }

    @keyframes battery-charge {
        from {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.experience-description {
    margin: 65px 0 0 35px;

    @include bp.lw(m) {
        margin: 10px 0 0;
    }
}
