@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';

.section {
    padding-bottom: 40px;
}

.projects-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @include bp.lw(m) {
        flex-flow: column nowrap;
        align-items: center;
    }
}

.projects-item {
    position: relative;
    width: 330px;
    margin-bottom: 20px;
    padding: 47px 14px; // Padding configured to provide inner space based on bg image
    aspect-ratio: 1;

    @include bp.lw(m) {
        width: 270px;
        max-width: 100%;
        margin-bottom: 0;
        padding: 12px 38px; // Padding configured to provide inner space based on bg image
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('@assets/images/sections/past-projects/film.svg?url');

        @include bp.lw(m) {
            transform: rotate(90deg);
        }
    }
}

.project-card {
    position: relative;
    display: flex;
    z-index: 1;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: oklch(0% 0 0 / 10%);

    .project-card-logo {
        opacity: 1;
    }

    .project-card-content {
        opacity: 0;
    }

    &:hover,
    &:focus-within {
        .project-card-logo {
            opacity: 0;
        }

        .project-card-content {
            opacity: 1;
        }
    }
}

.project-card-logo {
    width: 230px;
    aspect-ratio: 1;

    @include bp.lw(m) {
        width: 185px;
    }
}

.project-card-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 5px 10px;

    @include bp.lw(m) {
        padding: 5px;
    }
}

.project-card-title {
    @include t.t1;

    margin-bottom: 5px;
    text-align: center;
}

.project-card-description {
    text-align: justify;
}
