@use '@base-styles-variables/colors' as c;
@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';

.page-under-construction {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 50px;
}

.heading-text {
    @include t.t1;

    margin-bottom: 15px;
    font-size: 36px;
    line-height: 54px;

    @include bp.lw(m) {
        font-size: 30px;
        line-height: 45px;
    }
}

.teddy-bear {
    width: 330px;
    height: 400px;
    margin-bottom: 15px;

    @include bp.lw(m) {
        width: 180px;
        height: 215px;
    }
}

.info-text {
    @include t.b1;

    text-align: center;

    @include bp.lw(m) {
        width: 300px;
    }
}
