@mixin font-face($family, $src, $weight) {
    @font-face {
        font-family: $family;
        font-weight: $weight;
        font-display: swap;
        src: url('#{$src}.eot');
        src:
            url('#{$src}.woff2') format('woff2'),
            url('#{$src}.woff') format('woff'),
            url('#{$src}.ttf') format('truetype');
    }
}
