@use './reset-normalize';
@use './fonts-declarations';
@use './scrollbar';
@use '@base-styles-variables/colors' as c;

body,
body > div {
    min-height: 100vh;
}

/* Set scroll behavior to be smooth unless user prefers reduce the amount of non-essential motion (e.g. A11Y reasons) */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    background-color: c.$beige-light;
}

// Visually hide (A11y purposes)
/* stylelint-disable declaration-no-important -- Essential styles should NOT be overritten */
:global(.visuallyhidden) {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0);
    width: 1px !important;
    height: 1px !important;
    white-space: nowrap;
    clip-path: inset(50%);
}

// App Global elements styling
// Outline padding (A11y purposes)
* {
    outline-offset: 3px;
}
