@use '@base-styles-variables/colors' as c;
@use '@base-styles-mixins/bp';
@use '@base-styles-mixins/common' as cmn;
@use './variables.scss' as v;

.carousel {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    & > ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: safe center;
        flex: 0 1 auto;
        overflow-x: auto;
        min-width: 0;
        max-width: calc(100% - cmn.$minimum-target-size * 2);
        overscroll-behavior-inline: contain;
    }

    & > ul > li {
        flex: 0 0 cmn.$minimum-target-size;
        margin-right: 0;
    }

    & > ul button[aria-current] {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        &::after {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: c.$beige;

            @include bp.lw(m) {
                width: 13px;
                height: 13px;
            }
        }

        &:hover::after,
        &:focus-visible::after {
            background-color: c.$brown;
        }

        &:active::after {
            background-color: c.$red;
        }

        &[aria-current='true']::after {
            background-color: c.$brown-dark;
        }
    }
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility v.$slide-change-animation-time, opacity v.$slide-change-animation-time linear;

    &.m-visible {
        opacity: 1;
        visibility: visible;
        transition:
            visibility v.$slide-change-animation-time v.$slide-change-animation-time,
            opacity v.$slide-change-animation-time v.$slide-change-animation-time linear;
    }

    @media (prefers-reduced-motion) {
        transition: none;

        &.m-visible {
            transition: none;
        }
    }
}
