@use '@base-styles-variables/colors' as c;
@use '@base-styles-mixins/bp';
@use './variables.scss' as v;

.carousel {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility v.$slide-change-animation-time, opacity v.$slide-change-animation-time linear;

    &.m-visible {
        opacity: 1;
        visibility: visible;
        transition:
            visibility v.$slide-change-animation-time v.$slide-change-animation-time,
            opacity v.$slide-change-animation-time v.$slide-change-animation-time linear;
    }
}
