$carousel-arrow-btn-margin: 3px;
$carousel-arrow-btn-margin-mobile: -2px;
$carousel-padding-top: 20px;
$carousel-padding-top-mobile: 10px;
$carousel-pagination-height: 15px;
$carousel-pagination-height-mobile: 12px;
