.logo {
    position: absolute;
    left: 50%;
    display: flex;
    z-index: 10;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    transform: translateX(-50%);
    transform-origin: center;

    .logo-image {
        height: 180%;
        transition: height 0.15s linear;
        aspect-ratio: 220/180;
    }

    &.m-compact {
        .logo-image {
            height: calc(100% - 4px);
        }
    }
}
