.logo {
    position: absolute;
    left: 50%;
    z-index: 10;
    height: 180%;
    transform: translateX(-50%);
    transform-origin: center;
    transition: height 0.15s linear;
    aspect-ratio: 220/180;

    &.m-compact {
        height: calc(100% - 4px);
    }
}

.logo-image {
    width: inherit;
}
