$logo-dimensions-aspect-ratio: 220 / 180; // width/height

.logo {
    position: absolute;
    left: 50%;
    z-index: 10;
    height: 180%;
    transform: translateX(-50%);
    transform-origin: center;
    transition: height 0.15s linear;
    aspect-ratio: $logo-dimensions-aspect-ratio;

    &.m-compact {
        height: calc(100% - 4px);
    }
}

.logo-image {
    width: inherit;
}
