@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';
@use '@base-styles-variables/application' as app;

.content-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px;

    @include bp.lw(l) {
        margin: 0;
    }
}

.owl {
    width: 350px;
    aspect-ratio: 330/500;

    @include bp.lw(l) {
        display: none;
    }
}

.feedbacks {
    width: 400px;
    background-image: url('./images/old-paper.webp');
    background-position: center;
    background-size: cover;
    aspect-ratio: 400/565;

    @include bp.lw(m) {
        width: 100%;
        max-width: 350px;
    }
}

.feedback-portrait-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;

    @include bp.lw(m) {
        margin-bottom: 5px;
    }
}

.feedback-portrait {
    width: 135px;
    height: 190px;

    @include bp.lw(m) {
        width: 90px;
        height: 125px;
    }
}

.feedback-feather {
    position: absolute;
    right: 5px;
    bottom: -20px;
    width: 55px;
    height: 85px;
    transform: rotate(10deg);

    @include bp.lw(m) {
        bottom: -10px;
        width: 36px;
        height: 56px;
    }
}

.feedback-title {
    @include t.t2;

    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    @include bp.lw(m) {
        margin-bottom: 5px;
    }
}

.feedback-text {
    display: inline-block;
    align-self: baseline;
    overflow-y: scroll;
    max-height: 260px;
    margin-right: -(app.$scrollbar-width); // scrollbar width compensation
    padding-right: 5px;
    text-align: center;
    font-style: italic;

    @include bp.lw(m) {
        max-height: 195px;
    }
}
