@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';
@use '@base-styles-variables/application' as app;

.content-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 80px;

    @include bp.lw(l) {
        margin: 0;
    }
}

.owl {
    width: 280px;
    margin-right: 70px;
    aspect-ratio: 330/500;

    @include bp.lw(l) {
        display: none;
    }
}

.feedbacks {
    width: 470px;
    background-image: url('./images/old-paper.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 400/565;

    @include bp.lw(m) {
        width: 100%;
        max-width: 350px;
    }
}

.feedback-portrait-wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;

    @include bp.lw(m) {
        margin-bottom: 5px;
    }
}

.feedback-portrait {
    width: 150px;
    aspect-ratio: 135/190;

    @include bp.lw(m) {
        width: 90px;
    }
}

.feedback-title {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.feedback-title-name {
    @include t.t2;
}

.feedback-title-role {
    @include t.b2;
}

.feedback-title-source {
    @include t.b3;
}

.feedback-feather {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 55px;
    height: 85px;
    transform: rotate(10deg);

    @include bp.lw(m) {
        width: 36px;
        height: 56px;
    }
}

.feedback-text {
    display: inline-block;
    align-self: baseline;
    overflow-y: scroll;
    margin-top: 5px;
    margin-right: -(app.$scrollbar-width); // scrollbar width compensation
    margin-bottom: 15px;
    padding-right: 5px;
    text-align: center;
    font-style: italic;

    @include bp.lw(m) {
        margin-bottom: 10px;
    }
}
