@use '@styles/main';
@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';
@use '@base-styles-variables/colors' as c;
@use '@base-styles-variables/application' as app;

.app-container {
    @include t.b2;

    position: relative;
    max-width: app.$app-max-width;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
    border-right: 1px solid c.$brown-dark;
    border-left: 1px solid c.$brown-dark;
    background-image: url('@assets/images/bg-image.webp');

    @include bp.lw(l) {
        border: 0;
    }

    main {
        min-height: 500px;
    }
}
