@use '@styles/main';
@use '@base-styles-variables/colors';

$app-width: 1500px;

.app-container {
    width: 100%;
    max-width: $app-width;
    margin: 0 auto;
    padding: 0 40px;
    color: colors.$default;
}
