@use '@base-styles-mixins/typography' as t;
@use '@base-styles-mixins/bp';

.section {
    padding-bottom: 60px;

    @include bp.lw(m) {
        padding-bottom: 40px;
    }

    &.m-with-margin {
        margin: 0 30px;

        @include bp.lw(m) {
            margin: 0 20px;
        }
    }
}

.title {
    @include t.h1;

    width: 100%;
    margin-bottom: 25px;
    text-align: center;

    @include bp.lw(m) {
        margin-bottom: 15px;
    }
}
